@import url("style.css");


/* Setter wallpaper for bakgrunnen til tlf */
.phone-screen{
    background: linear-gradient(180deg,rgba(233, 227, 180, 1) 0%, rgba(233, 227, 180, 1) 21%, rgba(62, 105, 144, 1) 100%);
}

.loading{
    width: 100%;
    height: 100%;
    display: grid;
}

.loading img{
    width: 250px;
    height: auto;
    margin: auto;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--color-light-yellow);
    border-bottom-color: var(--color-purple);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin: auto;
}


@keyframes rotation {
    0% {transform: rotate(0deg);}   
    100% {transform: rotate(360deg);}
}