@import url("style.css");
@import url("loading.css");


.loader{
    margin-top: 70%;
}


/* Overskriften som viser hvor du reiser fra og til */
.title{

    /* Plassering */
    margin: auto;
    display: grid;
    width: fit-content;
    max-width: 80%;
    

    /* Utseende */
    margin-top: 30px;
    margin-bottom: 0px;
    color: var(--color-purple);
    row-gap: 10px;
    padding-bottom: 5px;
    font-size: 1.1rem;
}


/* Wrapper for titteltekst */
.title span {

    /* Plassering */
    display: flex;
    margin: auto;

    /* Størrelse */
    width: 100%;
}


/* Uthevet tekst i tittelen */
.title span strong {

    /* Plassering */
    margin: auto;
    margin-top: 0;
    margin-left: 0;
}


/* Vanlig tekst i tittelen */
.title span p {

    /* Plassering */
    margin: auto;
    margin-left: 5px;
    text-align: left;

    /* Størrelse */
    width: 100%;
}



/* Knapp for å legge til favoritt */
.add-fav-button {

    /* Plassering */
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0;

    /* Størrelse */
    width: 70%;
    height: 20px;

    /* Tekst */
    font-size: 0.8rem;
    font-weight: 100;

    /* Synlighet */
    display: none;
}


/* Inneholder alle elementer på denne siden */
.trips {

    /* Størrelse og plassering */
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    margin-top: 5px;
    height: 100%;


    /* Utseende */
    color: var(--color-purple);
}


/* Boksen som inneholder rutene som er generert */
.trips details {

    /* Størrelse og plassering */
    width: 70%;
    margin: 30px auto 0 auto;
    padding: 0 20px;

    /* Utseende */
    border: 2px solid var(--color-purple);
    border-radius: 10px;
    background-color: var(--color-light-yellow);
}


/* Trykkbar overskrift som åpner mer info*/
.trips details summary {

    /* Tekst */
    font-size: 1rem;
    font-weight: bolder;

    /* Størrelse og plassering */
    margin: auto;
    margin-left: -10px;
    padding: 10px;

    /* Interaksjon */
    cursor: pointer;
    user-select: none;

    display: flex;
}


/* Wrapper som inneholder all info som skal vises når en rute er "lukket" */
.trips summary div {

    /* Plassering */
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 5px;
}


/* Pilen som viser om en rute er lukket eller åpen */
.arrow {

    /* Plassering */
    margin: auto;
    margin-left: 0px;
    margin-right: 0px;

    /* Animasjon */
    transition: transform 0.2s;
}

/* Rotasjon av pilen når ruten er åpen */
details[open] .arrow {
    transform: rotate(90deg);
}


/* Rute tittelen (Eks: Rute 1) */
/*.summary-title{

}*/

/* Den lille teksten under rute tittel (viser bare minutter for nå) */
.summary-small-text {
  font-size: 0.6em; 
  line-height: 1.2; 
}

/* Lista som viser hvert ledd i reisen */
.trips details ul {

    /* Utseende */
    list-style: disc;

    /* Plassering */
    position: relative;
}


/* Hvert ledd i reisen */
.trips details ul li {

    /* Plassering */
    position: relative;
    padding-left: 10px;
    margin-bottom: 15px;
    display: list-item; /* restores bullets */
}

/* Viser distansen til ruten */
.li-route-distance {

    /* Tekst */
    font-size: 0.7em;
    line-height: 1.2;
}


/* Wrapper for elementene i hver rute, altså hver rad med info i hvert ledd i reisen*/
.trips details ul li span {

    /* Plassering */
    display: flex;
}


/* Transportmiddel navn (Eks: Gå)*/
.trips details ul li span strong {

    /* Utseende */
    background-color: transparent; /*denne er bare her for fyll. Gjør egentlig ingen ting. */
}


/* Rute teksten (eks. bussrute: 111) */
.trips details ul li span p {

    /* Plassering */
    display: inline; 
    margin: auto;
    margin-left: 5px;

    /* Tekst */
    font-size: 0.8rem;
    color: var(--color-light-yellow);

    /* Utseende */
    background-color: var(--color-purple);
    border: 1px solid var(--color-purple);
    border-radius: 3px;
    padding: 2px;
}




/* Linja som kobler alle liste-elementene sammen */
.trips details ul li::before {

    /* Utseende */
    content: "";
    width: 2px;
    background: var(--color-purple);

    /* Plassering */
    position: absolute;
    left: -12px;
    top: 10px;
    bottom: -25px;
   
}

/* Fjerner streken fra siste element, slik at det ikke er en strek som ikke går noe sted */
.trips details ul li:last-child::before {
    display: none;
}


/* Meldingen som vises når det ikke finnes noen rute */
p {

    /* Plassering */
    margin: auto;
    margin-top: 100px;
    text-align: center;

    /* Utseende */
    color: var(--color-purple);
}




/* Knapp for å fjerne elementer fra favoritter */
.remove-btn {

    /* Utseende */
    background-color: var(--color-purple);
    color: var(--color-light-yellow);
    box-shadow: none;

    /* Tekst */
    font-weight: normal;
}


