

.app-screen{
    width: 100%;
    height: 100%;
    display: block; /* se js kode for å gjøre om */
    background: #E9E3B4;
    background: linear-gradient(180deg,rgba(233, 227, 180, 1) 0%, rgba(233, 227, 180, 1) 21%, rgba(62, 105, 144, 1) 100%);
    font-family: var(--text-font-1);
}

.content-wrapper{
    display: grid;
    margin: auto;
    height: auto;
    row-gap: 30px;
}


.logo{
    width: 250px;
    height: auto;
    margin: auto;
    margin-top: 30px;   
}


.input-wrapper {
    width: 100%;
    height: 200px;
    margin: auto;
    display: grid;
    grid-template-columns: 40px 240px;
    justify-content: center;
    padding-bottom: 100px;
}

.input-wrapper input{
    width: 240px;
    height: 50px;
    margin: auto;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-color: var(--background-color-1);
    border: solid 1px black;
    text-indent: 10px; 
    font-size: 1.1rem;
}

.input-wrapper p{
    width: 40px;
    height: 50px;
    margin: auto;
    color: black;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-color: var(--background-color-1);
    text-align: center;
    line-height: 50px;
    border: solid 1px black;
    text-transform: uppercase;
}

.main-buttons{
    width: 200px;
    height: 50px;
    margin: auto;
    background-color: var(--color-1);
    font-size: 1.3rem;
    text-transform: uppercase;
    border-radius: none;
    box-shadow: 4px 4px 1px;
    cursor: pointer;
    transition: .05s linear;
}

.main-buttons:hover{
    box-shadow: none;
}