

.phone-screen{
    margin: auto;
    width: var(--home-screen-width);
    height: var(--home-screen-height);
    background-color: rgb(0, 0, 0);
    background-image: url("assets/wallpaper.jpg");
    background-size: contain;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.home-screen{
    height: 100%;
    width: 100%;
}

.phone-status-bar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.shortcut-menu{
    width: 95%;
    height: 70px;
    background-color: rgba(74, 74, 74, 0.5);
    margin: auto;
    margin-top: 190%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.shortcut-menu img{
    width: var(--app-size);
    height: var(--app-size);
    border-radius: 10px;
    margin: auto;
    user-select: none;
    -moz-user-select: none;
}

.shortcut-menu img:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.reiseklar-app-icon{
    position: absolute;
    top: var(--app-location-top);
    left: var(--app-location-left);
    height: var(--app-size);
    width: var(--app-size);
    display: block;
    border-radius: 10px;
    border: none;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}

.reiseklar-app-icon:hover{
    transform: scale(1.05);
}

.reiseklar-app-icon img{
    width: 95%;
    height: 95%;
    margin: auto;
    border-radius: 10px;
    margin-top: 5%;
}

.reiseklar-app-icon p{
    margin: auto;
    padding-top: 5px;
    font-size: 11px;
    color: white;
    width: 100%;
}
